
  <div class="product-tile"  style="box-shadow: 4px 4px 7px 1px #c5c1c1;cursor: pointer;">
    <table>
      <tr>
        <td class="td-image">
          <div style="padding: 10px">
            <img src="{{product.productImage}}" alt="image" width="130" style="border-radius: 50%">
          </div>
        </td>
        <td class="td-data">
          <div>
              <div><h6 style="color:#7e7eef;">{{product.productName}}</h6></div>
              <div>{{product.productPrice | currency:"&#8377;"}}</div>
              <div class="icon-manager"><span class="wishlist-heart" [ngClass] = "{'red': productInWishList}"><i class="fa fa-heart"></i></span>
                <span class="cart-icon" [ngClass]="{'orange': productInCart}"><i class="fas fa-cart-plus"></i></span>
              </div>
          </div>
        </td>
      </tr>
    </table>
  </div>