
  <div class="product-tile">
    <table>
      <tr>
        <td class="td-image"><img src="{{product.productImage}}" alt="image" width="150"></td>
        <td class="td-data">
          <div>
              <p>{{product.productName}}</p>
              <p>{{product.productPrice | currency:"&#8377;"}}</p>
              <div class="icon-manager"><span class="wishlist-heart" [ngClass] = "{'red': productInWishList}"><i class="fa fa-heart"></i></span>
                <span class="cart-icon" [ngClass]="{'orange': productInCart}"><i class="fas fa-cart-plus"></i></span>
              </div>
          </div>
        </td>
      </tr>
    </table>
  </div>