<div>
    <div class="productlist-header">
    </div>
    <div class="productlist-content">
        <div class="row">
            <div class="col-md-3 col-sm-6 product-card-holder" *ngFor = "let product of productList">
                <product [product] = "product" [productInCart] ="productInCart(product.productId)" [productInWishList] ="productInWishList(product.productId)" (click)="setSeletedProduct(product)" modal-trigger = "productdetail-modal"></product>
            </div>
        </div>
    </div>
</div>

<simple-modal title = "Product Details" elementId="productdetail-modal">
    <div *ngIf = "selectedProduct != undefined">
        <table>
            <tr>
                <td class="td-image">
                    <img src ="{{selectedProduct.productImage}}" alt="" width = '150' height="150" (error)="imageError()">
                </td>
                <td class="td-data">
                    <div>
                        <p>{{selectedProduct.productName}}</p>
                        <p>{{selectedProduct.productPrice}}</p>
                        <div style="margin-left: 0">
                            <span *ngIf="selectedProduct.productStock" style="margin-right: 10px">
                                <button class="btn" style="background-color: #ff830785;
                                border-color: black;"  (click) = "addProductToCart(selectedProduct)">
                                    <span><i class="fas fa-cart-plus"></i></span>   Add to cart
                                </button>
                                
                            </span>
                            <span *ngIf="!selectedProduct.productStock" style="margin-right: 10px; font-weight: 500; color: red">Out of stock</span>
                            <span>
                                <button class="btn" (click) = "addProductToWishList(selectedProduct)" style="color: red;
                                background-color: #6c757d52;
                                border-color: black;"> 
                                    <span><i class="fas fa-heart"></i></span> Add to Wishlist
                                </button>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</simple-modal>