.product-tile{
    margin-top: 5px;
    background: #f8f9fa;
    border: 1px solid #8080802b
}

.product-tile .td-image{
    padding: 5px
}

.product-tile .td-data div{
   margin-left: 10px;
}

.icon-manager{
    font-size: 15px;
    margin-top: 5px;
}
.wishlist-heart{
      margin: 10px;       
      color: lightgrey; 
}
.wishlist-heart.red{
    color :  red;
}
.cart-icon{
    color: lightgrey;
}

.cart-icon.orange{
    color: orange!important;
}