.login-form{
    width: 500px;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 10px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}